header {
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

header .hero-title {
    color: white;
    font-size: 56px;
}


header .hero-desc {
    color: white;
    font-size: 24px;
}

header .btn-hero {
    padding: 10px 60px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    header .hero-title {
        font-size: 40px;
    }
}

@media screen and (max-width:600px) {
    header .hero-title {
        font-size: 32px;
    }

    header .hero-desc {
        font-size: 16px;
    }
}